@tailwind utilities;

@layer utilities {
  .editor-block::before {
    --empty-text-color: var(--color-gray-700);

    content: attr(data-empty-text);
    white-space: break-spaces;
    word-break: break-word;
    caret-color: var(--empty-text-color);
    color: var(--empty-text-color);
    font-size: 1em;
    cursor: text;
    opacity: 0;
    visibility: hidden;
  }

  .editor-block.show-empty-text::before {
    opacity: 0.5;
    visibility: visible;
  }

  .editor-block:not(:empty)::before {
    display: none;
  }
}
